.heading{
    text-align: center;
    padding: 4rem 0 2rem 0;
}

.Procontainer{
    max-width: 1140px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    padding-bottom: 5rem;
}

.projectcard{
    background: #1a1818;
    padding: 1.2rem 1rem;

}

.projectcard img{
    width: 100%;
}

.title{
    color: #fff;
    padding: 1rem 0;
}

.details p{
    padding: 1rem;
    font-size: 1.2rem;
    text-align: justify;
}

.pbtn{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
}

.pbtn .btn{
    padding: 0.5rem 1rem;
}

@media screen and (max-width: 740px){
    .Procontainer{
        max-width: 90%;
        margin: auto;
        grid-template-columns: 1fr ;
    }
 }
 